$darkFern :#2C4001;
$brightFern :#C0D904;
$midFern : #93A603;
$brightRust: #F29441;
$darkRust: #3F1F06;
$baseColor: #112;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $baseColor;
    color: $midFern;
}

header {
    height: 24vh;
    width: 100vw;
    display: flex;

    .logo-container {
        position: relative;
        height: 18vh;
        width: 24vw;
        margin: 2vh 1vw;
    }
}

main {
    height: 64vh;
    width: 100vw;

    h1 {
        text-align: center;
    }
}

footer {
    height: 12vh;
    width: 100vw;
}